html, body {
	margin:0px;
	padding:0px;
	height: 100%;
}
body, input, select, textarea {
	background-color: #ffffff;
}
td, input, select, textarea {
	font-family: Tahoma;
	font-size: 14px;
	color: #000000;
	vertical-align: top; 
}
td {
	padding: 0px;
}
table.main {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
td.top {
}
td.search {
}
td.topmenu {
}
td.news {
	width: 30%;
}
td.text {
	width: 70%;
	height: 100%;
}
td.copyright {
}
td.bottommenu {
}

.field { text-align:right; line-height:25px;}
label {float:left; padding-right:10px;}
.input1 {float:left}
.radio  {float:left;}